{{> navigationAdmin}}

<div class="container p-4">
    <div class="row">
        {{#each reservas}}
        <div class="col-md-3 mb-4">
            <div class="card text-center card-view-color">
                <div class="card-body">
                    <h3 class="card-title">
                        {{nombre}}
                    </h3>
                    <p>${{costo}}</p>
                    <p>{{aHora duracion}}</p>
                    <p>{{fecha fecha_reserva}} a las {{aHora hora_reserva}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>